<!DOCTYPE html>
<html lang="ro">

<%- include("../fragmente/head.ejs") %>

<body>
<%- include("../fragmente/header.ejs") %>

<main>
    <div class="container">
        <h1 class="page-title">Galerie</h1>

        <%- include("../fragmente/galerie_content.ejs") %>
    </div>
</main>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>