.grid-galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
    grid-template-areas:
    "img1 img2 img3"
    "img4 .    img5"
    "img6 img7 img8"
    "img9 img10 .";
}

.grid-galerie figure {
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: transform 0.125s ease, opacity 0.125s ease, border-radius 0.125s ease;
}

.grid-galerie .img1  { grid-area: img1; }
.grid-galerie .img2  { grid-area: img2; }
.grid-galerie .img3  { grid-area: img3; }
.grid-galerie .img4  { grid-area: img4; }
.grid-galerie .img5  { grid-area: img5; }
.grid-galerie .img6  { grid-area: img6; }
.grid-galerie .img7  { grid-area: img7; }
.grid-galerie .img8  { grid-area: img8; }
.grid-galerie .img9  { grid-area: img9; }
.grid-galerie .img10 { grid-area: img10; }

.grid-galerie img {
    width: 100%;
    height: auto;
    transition: transform 0.125s ease, opacity 0.125s ease, border-radius 0.125s ease;
}

.grid-galerie figure:hover img {
    transform: scale(1.06);
    opacity: 0.5;
    border-radius: 15px;
}

.grid-galerie figcaption {
    counter-increment: imagini;
    margin-top: 0.5rem;
    font-size: 1rem;
    position: relative;
}

.grid-galerie figcaption::before {
    content: counter(imagini, lower-roman) ". ";
    font-weight: bold;
    color: var(--culoare-text);
    margin-right: 0.4rem;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .grid-galerie {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .grid-galerie {
        grid-template-columns: 1fr;
    }
}
