<footer>
    <section id="contact-info">
        <h2>Contact</h2>
        <address>
            <p>Telefon: <a href="tel:+40723456789">+40 723 456 789</a></p>
            <p>Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Strada Academiei, Nr. 14, București</a></p>
            <p>Email: <a href="mailto:contact@pressstart.ro">contact@pressstart.ro</a></p>
            <p>Whatsapp: <a href="https://wa.me/40723456789" target="_blank">Deschide WhatsApp</a></p>
            <a href="#" title="Mergi sus" id="link-top"><div id="triunghi"></div></a>
        </address>
    </section>

    <p id="banner">Acesta e un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>
    <small>&copy;<time datetime="2025-03-08">2025</time> Press Start</small>
</footer>