<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Popescu Maria">
<meta name="keywords" content="board games, jocuri, jocuri de societate, sah, petrecere">
<meta name="description" content="Jocuri de societate.">
<meta name="apple-mobile-web-app-title" content="PressStart">

<link rel="icon" type="image/png" href="/resurse/ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/resurse/ico/favicon.svg" />
<link rel="shortcut icon" href="/resurse/ico/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png" />
<link rel="manifest" href="/resurse/ico/site.webmanifest" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/resurse/scss/customizare_bootstrap.scss">
<link rel="stylesheet" href="/resurse/css/general.css">
<link rel="stylesheet" href="/resurse/css/nav1.css">
<link rel="stylesheet" href="/resurse/css/subs.css">
<link rel="stylesheet" href="/resurse/css/link.css">
<link rel="stylesheet" href="/resurse/css/efecte.css">
<link rel="stylesheet" href="/resurse/css/print.css" media="print">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

<title>Press Start</title>