<script src="/resurse/js/tema.js"></script>
<header class="c1" id = "titlu">
    <h1><i lang="ro"> <span>Press Start</span></i></h1>

    <nav>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="hamburger">
            <i class="fas fa-bars"></i>
        </label>
        <div class="menu-wrapper">
            <ul class="meniu">
                <li class = "home">
                    <a href="index">
                        <div class="text-icon"><i class="fas fa-home"></i> Acasa</div>
                    </a>
                </li>
                <li>
                    <div>Despre</div>
                    <ul>
                        <li><a href="despre#prezentare">Prezentare</a></li>
                        <li><a href="despre#istoric">Istoric</a></li>
                        <li><a href="despre#motivatie">Motivatie</a></li>
                        <li><a href="despre#galerie">Galerie</a></li>
                    </ul>
                </li>
                <li>
                    <div>Jocuri</div>
                    <ul>
                        <li><a href="/produse">Toate</a></li>
                        <% for (let opt of locals.optiuniMeniu){ %>
                            <li><a href="/produse?tip=<%= opt.unnest %>"><%= opt.unnest %></a></li>
                        <% } %>
                        <li><a href="/seturi">Seturi</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#contact-info">
                        <div>Contact</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>