<header class="c1" id = "titlu">
    <h1><i lang="ro"> <span>Board Games</span></i></h1>
    <nav>
        <ul class="meniu">
            <li>
                <div class="text-icon" id="jocuri">Jocuri</div>
                <ul>
                    <li><a href="#strategie">Jocuri de strategie</a></li>
                    <li><a href="#petrecere">Jocuri de petrecere</a></li>
                    <li><a href="#cooperative">Jocuri cooperative</a></li>
                </ul>
            </li>
            <li>
                <div>Despre</div>
                <ul>
                    <li><a href="despre.html#prezentare">Prezentare</a></li>
                    <li><a href="despre.html#istoric">Istoric</a></li>
                    <li><a href="despre.html#motivatie">Motivatie</a></li>
                    <li><a href="despre.html#galerie">Galerie</a></li>
                </ul>
            </li>
            <li>
                <div>Produse</div>
                <ul>
                    <li><a href="#">Toate</a></li>
                    <li><a href="#">Jocuri de familie</a></li>
                    <li><a href="#">Jocuri de strategie</a></li>
                    <li><a href="#">Jocuri de petrecere</a></li>
                </ul>
            </li>
            <li>
                <a href="#contact-info">
                    <div>Contact</div>
                </a>
            </li>
        </ul>
    </nav>
</header>