<header class="c1" id = "titlu">
    <h1><i lang="ro"> <span>Press Start</span></i></h1>

    <nav>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="hamburger">
            <i class="fas fa-bars"></i>
        </label>
        <div class="menu-wrapper">
            <ul class="meniu">
                <li class = "home">
                    <a href="index">
                        <div class="text-icon"><i class="fas fa-home"></i> Acasa</div>
                    </a>
                </li>
                <li>
                    <div class="text-icon" id="jocuri">Jocuri</div>
                    <ul>
                        <li><a href="#strategie">Jocuri de strategie</a></li>
                        <li><a href="#petrecere">Jocuri de petrecere</a></li>
                        <li><a href="#cooperative">Jocuri cooperative</a></li>
                    </ul>
                </li>
                <li>
                    <div>Despre</div>
                    <ul>
                        <li><a href="despre#prezentare">Prezentare</a></li>
                        <li><a href="despre#istoric">Istoric</a></li>
                        <li><a href="despre#motivatie">Motivatie</a></li>
                        <li><a href="despre#galerie">Galerie</a></li>
                    </ul>
                </li>
                <li>
                    <div>Produse</div>
                    <ul>
                        <li><a href="/produse">Toate</a></li>
                        <li><a href="/produse?tip=cofetarie">Jocuri de familie</a></li>
                        <li><a href="/produse?tip=patiserie">Jocuri de strategie</a></li>
                        <li><a href="/produse?tip=gelaterie">Jocuri de petrecere</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#contact-info">
                        <div>Contact</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>